<!------------------------------------Content---------------------------->

<div class="content__wrapper">

  <div class="content__heading">

    <div class="row-fluid">
      <span>
        <nav class="menu__belowTitle">
          <a href="./Index.html">Trang chủ</a>
          &nbsp;/&nbsp;Brand&nbsp;/&nbsp;Orient
        </nav>
        <h1 class="title">
          {{#if product}}
          <span style="background-color: #ffffff">
            {{product.TenSanPham}}
          </span>
          {{/if}}
        </h1>
      </span>
    </div>

  </div>

  <div class="content__container">
    <div class="content__sideBar">
      <form action="#" class="sideBar__cate">
        <div class="sideBar__row" data-colum="1">

          <div class="form-title">
            <span class="widget__title">
              <h4 class="form__widget__title">LỌC THEO GIÁ</h4>
            </span>
          </div>

          <div class="form__checkbox">
            <label class="price_0-2000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="0-2000000" />
              <span class="ml-12"> 0&nbsp;đ - 2.000.000&nbsp;đ </span>
            </label>
            <label class="price_2000000-4000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="2000000-4000000" />
              <span class="ml-12"> 2.000.000&nbsp;đ - 4.000.000&nbsp;đ </span>
            </label>
            <label class="price_4000000-6000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="4000000-6000000" />
              <span class="ml-12"> 4.000.000&nbsp;đ - 6.000.000&nbsp;đ </span>
            </label>
            <label class="price_6000000-8000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="6000000-8000000" />
              <span class="ml-12"> 6.000.000&nbsp;đ - 8.000.000&nbsp;đ </span>
            </label>
            <label class="price_8000000-10000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="8000000-10000000" />
              <span class="ml-12"> 8.000.000&nbsp;đ - 10.000.000&nbsp;đ </span>
            </label>
            <label class="price_10000000-20000000 lh-24 mt-12 ml-16">
              <input type="checkbox" value="10000000-20000000" />
              <span class="ml-12"> 10.000.000&nbsp;đ - 20.000.000&nbsp;đ </span>
            </label>
          </div>

          <div class="form-title">
            <span class="widget__title">
              <h4 class="form__widget__title">THƯƠNG HIỆU</h4>
            </span>
          </div>

          <div class="form__checkbox">
            {{#each brands}}
            <label class="brand_seiko lh-24 mt-12 ml-16">
              <input type="checkbox" value="seiko" />
              <span class="ml-12"> {{this.TenThuongHieu}} </span>
            </label>
            {{/each}}
            {{!-- <label class="brand_seiko lh-24 mt-12 ml-16">
              <input type="checkbox" value="seiko" />
              <span class="ml-12"> Seiko </span>
            </label>
            <label class="brand_orient lh-24 mt-12 ml-16">
              <input type="checkbox" value="orient" />
              <span class="ml-12"> Orient </span>
            </label>
            <label class="brand_tissot lh-24 mt-12 ml-16">
              <input type="checkbox" value="tissot" />
              <span class="ml-12"> Tissot </span>
            </label>
            <label class="brand_gshock lh-24 mt-12 ml-16">
              <input type="checkbox" value="g-shock" />
              <span class="ml-12"> G-Shock </span>
            </label>
            <label class="brand_doxa lh-24 mt-12 ml-16">
              <input type="checkbox" value="doxa" />
              <span class="ml-12"> Doxa </span>
            </label> --}}
          </div>
        </div>
      </form>
    </div>

    <div class="content__product">
      <div class="content__product--info">
        {{#if product}}
        <div class="content__product__manufacturerImg">
          <img src="{{product.LinkHinhAnh}}" alt="">
        </div>
        <div class="content__product__manufacturerInfo">
          <p>{{product.MoTaChung}}</p>
        </div>
        {{/if}}
        <div class="product__toolbar">
          <p class="product__count">Hiển Thị.....</p>
          <nav class="product__nav__count">
            <ul class="page-numbers">
              <li><a class="page-numbers-li" href="#">1</a></li>
              <li><a class="page-numbers-li" href="#">2</a></li>
              <li><a class="page-numbers-li" href="#">3</a></li>
              <li><a class="page-numbers-li" href="#">4</a></li>
              <li><a class="page-numbers-li" href="#">5</a></li>
              <li><a class="page-numbers-li" href="#">6</a></li>
            </ul>
          </nav>
        </div>
        <div class="product__list">

          {{#each products}}
          <div class="listWatch">
            <a href="/chi-tiet-san-pham?_id={{this._id}}"><img class="listWatch__picWatch--nam"
                src="{{this.LinkHinhAnh}}" alt="Đồng hồ nam" /></a>
            <a href="/chi-tiet-san-pham?_id={{this._id}}">
              <h3 class="listWatch__nameWatch">
                {{this.TenSanPham}}
              </h3>
            </a>
            <h4 class="product__price">{{this.GiaBan}}đ</h4>
          </div>
          {{/each}}

          {{!--
          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch" src="./assets/img/watchNu.jpg" alt="Đồng hồ nữ" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div>

          <div class="listWatch">
            <a href="#"><img class="listWatch__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
            <a href="#">
              <h3 class="listWatch__nameWatch">
                Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
              </h3>
            </a>
            <h4 class="product__price">11.111.111đ</h4>
          </div> --}}
        </div>
      </div>
    </div>
  </div>

  <div class="content__Essay">
    <h2 style="text-align: center">
      <strong>
        <span> BÀI VIẾT HAY </span>
      </strong>
    </h2>

    <div class="main__goodEssay">
      <div class="goodEssay__img">
        <img src="./assets/img/goodEssay.jpg" alt="" />
      </div>
      <div class="goodEssay__text">
        <h2>Lorem</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos
          nostrum modi magni fugiat! Adipisci quasi cupiditate nam quia,
          expedita veniam vitae iusto tenetur ducimus ratione, maiores id
          quae aliquam provident. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Eos nostrum modi magni fugiat! Adipisci quasi
          cupiditate nam quia, expedita veniam vitae iusto tenetur ducimus
          ratione, maiores id quae aliquam provident. Lorem ipsum, dolor
          sit amet consectetur adipisicing elit. Eos nostrum modi magni
          fugiat! Adipisci quasi cupiditate nam quia, expedita veniam
          vitae iusto tenetur ducimus ratione, maiores id quae aliquam
          provident. Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Eos nostrum modi magni fugiat! Adipisci quasi cupiditate
          nam quia, expedita veniam vitae iusto tenetur ducimus ratione,
          maiores id quae aliquam provident.
        </p>
      </div>
    </div>
  </div>
</div>