<!------------------------------------Content---------------------------->

<div class="content__wrapper">
  <div class="content__banner">
    <img src="./assets/img/banner.jpg" alt="" />
  </div>

  <div class="content__category">
    <div class="content__ads">
      <a href="#"><img src="./assets/img/ADS.jpg" alt="" style="border-radius:8px" /></a>
    </div>

    <div class="content__cateSelect">
      <table class="table__cate">
        <td class="cate-data-1">
          <tr>
            <a href="#"><img src="./assets/img/cate-nam.png" alt="" width="177px" height="177px"
                style="padding: 0 5px 0 10px; border-radius:10px" /></a>
          </tr>
          <tr>
            <a href="#"><img src="./assets/img/cate-nu.png" alt="" width="177px" height="177px"
                style="padding: 0 5px; border-radius:10px" /></a>
          </tr>
        </td>
        <td class="cate-data-2">
          <tr>
            <a href="#"><img src="./assets/img/cate-couple.png" width="177px" height="177px"
                style="padding: 8px 5px 0px 10px; border-radius:10px" alt="" /></a>
          </tr>
          <tr>
            <a href="#"><img src="./assets/img/cate-treem.png" width="177px" height="177px"
                style="padding: 8px 5px 0px 5px; border-radius:10px" alt="" /></a>
          </tr>
        </td>
      </table>
    </div>
  </div>

  <div class="content__main">
    <!-----------------------------------Đồng Hồ Nam--------------------------------------->
    <h2 class="main__title--nam">
      <strong>
        <span> Đồng Hồ Nam Bán Chạy </span>
      </strong>
    </h2>

    <div class="main__topSale--nam">
      {{#each productsMail}}
      <div class="topSale__item_nam">
        <a href="/chi-tiet-san-pham?_id={{this._id}}"><img class="topSale__picWatch--nam" src="{{this.LinkHinhAnh}}"
            alt="Đồng hồ nam" /></a>
        <a href="/chi-tiet-san-pham?_id={{this._id}}" style="display: block;">
          <h3 class="topSale__nameWatch--nam" style="display: block; text-align: center !important;">
            {{this.TenSanPham}}
          </h3>
        </a>
        <h4>{{this.GiaBan}}</h4>
      </div>
      {{/each}}
      {{!-- <div class="topSale__item_nam">
        <a href="./detail-watch.html"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg"
            alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div> --}}
      {{!-- <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div> --}}
      {{!-- <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div>
      <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div>
      <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div>
      <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div>
      <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div>
      <div class="topSale__item_nam">
        <a href="#"><img class="topSale__picWatch--nam" src="./assets/img/watchNam.jpg" alt="Đồng hồ nam" /></a>
        <a href="#">
          <h3 class="topSale__nameWatch--nam">
            Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
          </h3>
        </a>
        <h4>11.111.111đ</h4>
      </div> --}}
    </div>
    <!---------------------------------Đồng Hồ Nữ----------------------------->
    <h2 class="main__title--nu">
      <strong>
        <span> Đồng Hồ Nữ Bán Chạy </span>
      </strong>
    </h2>

    <div class="main__topSale--nu">
      <div class="main__topSale--nu">
        {{#each productsMail}}
        <div class="topSale__item_nu">
          <a href="/chi-tiet-san-pham?_id={{this._id}}"><img class="topSale__picWatch--nu" src="{{this.LinkHinhAnh}}"
              alt="Đồng hồ nam" /></a>
          <a href="/chi-tiet-san-pham?_id={{this._id}}">
            <h3 class="topSale__nameWatch--nu" style="display: block; text-align: center !important;">
              {{this.TenSanPham}}
            </h3>
          </a>
          <h4>{{this.GiaBan}}</h4>
        </div>
        {{/each}}
        {{!-- <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div>
        <div class="topSale__item_nu">
          <a href="#"><img class="topSale__picWatch--nu" src="./assets/img/watchNu.jpg" alt="Đồng hồ nam" /></a>
          <a href="#">
            <h3 class="topSale__nameWatch--nu">
              Orient RA-AG0001S10B – Nam – Automatic (Tự Động) – Dây Da
            </h3>
          </a>
          <h4>11.111.111đ</h4>
        </div> --}}
      </div>
    </div>

    <!----------------------------------------Bài Viết Hay-------------------------------------------->
    <h2 style="text-align: center">
      <strong>
        <span> BÀI VIẾT HAY </span>
      </strong>
    </h2>

    <div class="main__goodEssay">
      <div class="goodEssay__img">
        <img src="./assets/img/goodEssay.jpg" alt="" />
      </div>
      <div class="goodEssay__text">
        <h2>Lorem</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos
          nostrum modi magni fugiat! Adipisci quasi cupiditate nam quia,
          expedita veniam vitae iusto tenetur ducimus ratione, maiores id
          quae aliquam provident. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Eos nostrum modi magni fugiat! Adipisci quasi
          cupiditate nam quia, expedita veniam vitae iusto tenetur ducimus
          ratione, maiores id quae aliquam provident. Lorem ipsum, dolor
          sit amet consectetur adipisicing elit. Eos nostrum modi magni
          fugiat! Adipisci quasi cupiditate nam quia, expedita veniam
          vitae iusto tenetur ducimus ratione, maiores id quae aliquam
          provident. Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Eos nostrum modi magni fugiat! Adipisci quasi cupiditate
          nam quia, expedita veniam vitae iusto tenetur ducimus ratione,
          maiores id quae aliquam provident.
        </p>
      </div>
    </div>
  </div>
</div>